<div class="title">{{ title }}</div>

<div class="content">
  <!-- Scenes -->
  <details class="item" *ngFor="let elem of scenes" [open]="true">
    <summary>{{ elem.name }}</summary>
    <ng-container *ngTemplateOutlet="entityList; context:{ $implicit: elem.children }"></ng-container>
  </details>

  <!-- Entities -->
  <ng-template #entityList let-children>
    <div *ngFor="let elem of children">

      <details class="item" *ngIf="elem.children.length > 0">
        <summary>{{ elem.name }}</summary>
        <ng-container *ngTemplateOutlet="entityList; context:{ $implicit: elem.children }"></ng-container>
      </details>

      <div *ngIf="elem.children.length === 0">
        {{ elem.name }}
      </div>
    </div>

  </ng-template>
</div>