:host {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  height: 100%;
  background-color: #252526;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 35px;
  font-size: 13px;
  font-weight: 600;
  color: white;
}

.content {
  width: 100%;
  flex: 1;
  background-color: #252526;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 13px;
  color: #fff;
}

.list {
  user-select: none;

  &__item {
    display: block;
  }

  &__item-text {
    padding: 3px 10px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background-color: #2a2d2e;
    }

    &.-selected {
      background-color: rgba(#004472, 0.3);
      // border: 1px solid rgba(#004472, 0.6);
    }

    &.-disabled {
      background-color: #004472;
    }

    &.-main {
      font-weight: bold;
      background-color: rgba(#fff, 0.1);
    }
  }
}

// details > summary {
//   list-style-type: "> ";
// }

// details[open] > summary {
//   list-style-type: "^ ";

//   &::marker {
//     color: blue;
//     transform: rotate(180deg);
//   }
// }

// details[close] summary {
//   pointer-events: none;
// }

// details[open] summary ::marker {
//   pointer-events: all;
// }
