<div class="header">{{ title }}</div>

<div class="content">

  <div class="list">
    <!-- Scenes -->
    <details class="list__item" *ngFor="let elem of scenes" [open]="true">
      <summary class="list__item-text -main">{{ elem.name }}</summary>

      <ng-container *ngTemplateOutlet="entityList; context:{ $implicit: { children: elem.children, margin: 10 } }">
      </ng-container>
    </details>


    <!-- Entities -->
    <ng-template #entityList let-item>
      <div *ngFor="let elem of item.children">

        <details *ngIf="elem.children.length > 0" class="list__item" (click)="setItemSelected($event, elem)">
          <summary class="list__item-text" [class.-selected]="elem === itemSelected" [class.-disabled]="!elem.active"
            [ngStyle]="{ 'padding-left': item.margin + 'px' }">
            {{ elem.name }}
          </summary>

          <!-- Render list recursively -->
          <ng-container
            *ngTemplateOutlet="entityList; context:{ $implicit: { children: elem.children, margin: item.margin + 13 } }">
          </ng-container>
        </details>

        <div *ngIf="elem.children.length === 0" class="list__item-text" [class.-selected]="elem === itemSelected"
          [class.-disabled]="!elem.active" [ngStyle]="{ 'padding-left': item.margin + 'px' }"
          (click)="setItemSelected($event, elem)">
          {{ elem.name }}
        </div>
      </div>
    </ng-template>
  </div>

</div>