<div class="container">
  <ui-button class="mx-1" [whiteRipple]="false" [disabled]="false" flat color="primary" (click)="pause()">
    <div>⏸</div>
    <div>pause</div>
  </ui-button>
  <ui-button class="mx-1" [whiteRipple]="false" [disabled]="false" flat color="primary" (click)="play()">
    <div>▶</div>
    <div>play</div>
  </ui-button>
  <ui-button class="mx-1" [whiteRipple]="false" [disabled]="false" flat color="primary" (click)="stop()">
    <div>◼</div>
    <div>stop</div>
  </ui-button>
</div>