// Black
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("../../assets/font/montserrat/montserrat.ttf") format("truetype");
}

// Black italic
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("../../assets/font/montserrat/montserrat-italic.ttf") format("truetype");
}

// Extra bold
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../../assets/font/montserrat/montserrat.ttf") format("truetype");
}

// Extra bold
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("../../assets/font/montserrat/montserrat-italic.ttf") format("truetype");
}

// Bold
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/font/montserrat/montserrat.ttf") format("truetype");
}

// Bold italic
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("../../assets/font/montserrat/montserrat-italic.ttf") format("truetype");
}

// Semi bold
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../../assets/font/montserrat/montserrat.ttf") format("truetype");
}

// Semi bold italic
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("../../assets/font/montserrat/montserrat-italic.ttf") format("truetype");
}

// Medium
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/font/montserrat/montserrat.ttf") format("truetype");
}

// Medium italic
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("../../assets/font/montserrat/montserrat-italic.ttf") format("truetype");
}

// Regular
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/font/montserrat/montserrat.ttf") format("truetype");
}

// Italic
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/font/montserrat/montserrat-italic.ttf") format("truetype");
}

// Light
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../../assets/font/montserrat/montserrat.ttf") format("truetype");
}

// Light italic
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("../../assets/font/montserrat/montserrat-italic.ttf") format("truetype");
}
